{% load i18n %}

<div class="blog-anons">
  <div class="container">
    <div class="blog-anons-container">
      <div class="title">{% trans "Blog" %}</div>
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="post-title">Заголовок первого поста</a>
          <p class="post-date">25 февраля 2014</p>
          <p class="post-anons">
            Таким образом постоянный количественный рост и сфера нашей активности позволяет выполнять важные
            задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
          </p>
        </div>
        <div class="col-md-4">
          <a href="#" class="post-title">Заголовок второго поста</a>
          <p class="post-date">17 февраля 2014</p>
          <p class="post-anons">
            Повседневная практика показывает, что постоянный количественный рост и сфера нашей
            активности позволяет оценить значение новых предложений.
          </p>
        </div>
        <div class="col-md-4">
          <a href="#" class="post-title">Заголовок третьего поста</a>
          <p class="post-date">5 марта 2014</p>
          <p class="post-anons">
            Идейные соображения высшего порядка, а также начало повседневной работы по
            формированию позиции представляет собой интересный эксперимент проверки системы обучения кадров.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>