<div class="item clearfix">
  <div class="title">
    <a data-bind="attr: { href: absolute_url }"><!--ko text: title --><!--/ko--></a>
    <!-- <span class="title-star"></span> -->
  </div>

  <div class="tour">
    <!--ko text: city --><!--/ko-->
  </div>

  <div class="tags" data-bind="foreach: tags, visible: tags.length > 0">
    <a href="javascript:void(0)" class="tag" data-id="id"><!--ko text: name --><!--/ko--></a>
  </div>

  <div class="content">
    <div class="preview">
      <a data-bind="attr: { href: absolute_url }">
        <img class="img-rounded" data-bind="attr: { src: main_photo }">
      </a>
    </div>

    <div class="info">
      <div class="title">
        <span class="calendar-black"></span>
        <span><!--ko text: period --><!--/ko--></span>
      </div>

      <div class="detail">
        <div class="price"><!--ko text: price --><!--/ko--> &euro;</div>
      </div>

      <div class="travellers">
        <div class="travellers-title">Компания</div>
        <div class="slider">
          <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
            <div class="ui-slider-range ui-widget-header ui-corner-all sex-slider" style="left:0%;width:50%;"></div>
          </div>
          <span class="help">
            <i class="help-icon help-tooltip">?</i>
          </span>
        </div>
        <div class="ratio">
          <div>
{#            <span><%= showOccup() %></span>#}
          </div>
          <div>
{#            <span><%= sex_status %></span>#}
          </div>
        </div>
        <div class="list">
          <div class="items" id="trips_layout_items"
               style="display: none;"
               data-bind="foreach: peoples, visible: peoples.length > 0">
            <div class="item-icon traveller-item"
                 data-bind="data-url: { src: avatar_url }">
              <a href="javascript:void(0)">
                <img data-bind="attr: { src: avatar_url }">
              </a>
            </div>
          </div>

          <!-- ko if: peoples.length > 3 -->
            <div class="next">
              <i class="arrow-down"></i>
            </div>
          <!-- /ko -->

{#              <% _.each(people, function(user) { %>#}
{#                <div class="item-icon traveller-item" data-url="<%= user.avatar_url %>"#}
{#                  data-name="<%= user.first_name %> <%= user.last_name %>"#}
{#                  data-age="<% if (user.age != null) { %><%= user.age %><% } else { %><% } %>"#}
{#                  data-city="<% if (user.city != null) { %><%= user.city.name %><% } else { %><% } %>"#}
{#                  data-career="<% if (user.career != null) { %><%= user.career %><% } else { %><% } %>">#}
{#                  <a href="javascript:void(0)">#}
{#                    <img src="<%= user.avatar_url %>">#}
{#                  </a>#}
{#                </div>#}
{#              <% }); %>#}


        </div>
      </div>
    </div>
  </div>
</div>