
.popup-layout {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(49,185,218,0.9);
  z-index: 999;
  .popup-layout-inner {
    width: 380px;
    margin: 0 auto;
    .popup {
      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 5px;
      box-shadow: 0 2px 18px rgba(0,0,0,0.37);
      float: right;
      margin-left: 18px;
      margin-right: 18px;
      margin-top: 30%;
      padding: 14px 18px 18px 18px;
      width: 100%;
      position: relative;
      text-align: left;
      .title {
        font-family: pragmatica-web;
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 8px;
        text-align: left;
      }
      .desc {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 16px;
        text-align: left;
      }
      .buttons {
        // padding: 22px 36px 18px 36px;
        .left-button {
          width: 47.5%;
          float: left;
        }
        .right-button {
          width: 47.5%;
          float: right;
        }
      }
    }
  }
}

.fade-alert {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  z-index: 999;
  .fade-alert-inner {
    width: 1032px;
    margin: 0 auto;
    .alert {
      background: none repeat scroll 0 0 #FFFFFF;
      border-radius: 5px;
      box-shadow: 0 2px 18px rgba(0,0,0,0.37);
      float: right;
      margin-left: 18px;
      margin-right: 342px;
      padding: 14px 18px 18px 18px;
      width: 276px;
      position: relative;
      text-align: left;
      .title {
        font-family: pragmatica-web;
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 8px;
        text-align: left;
      }
      .desc {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 16px;
        text-align: left;
      }
      .fb-button {
        font-weight: bold;
        margin-bottom: 0px;
        border-radius: 3px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        padding: 7px 11px 7px 7px;
        text-align: center;
        width: 100%;
        vertical-align: top;
        white-space: nowrap;
        word-wrap: normal;

        background-color: #3b55a0; 
        background: -moz-linear-gradient(top, #4c69ba, #3b55a0);
        background: -ms-linear-gradient(top, #4c69ba, #3b55a0);
        background: -webkit-linear-gradient(top, #4c69ba, #3b55a0);
        border: 0px solid #2b4170;
        text-shadow: 0 -1px -1px #1f2f52;
        .icon {
          display: inline-block;
          height: 31px;
          width: 31px;
          margin-right: 6px;
          background-image: url("../img/fb-big-sprite.png");
          background-position: 0px 0px;
          vertical-align: top;
        }
        .content {
          display: inline-block;
          font-size: 14px;
          line-height: 31px;
          height: 31px;
          vertical-align: top;
        }

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
          color: rgba(255,255,255,0.88);
          background-position: 10px;
          opacity: 0.88;
          .icon {
            opacity: 0.88;
          }
        }
      }
    }

    .alert-left {
      margin-top: 96px;
      margin-bottom: 0px;
      &::after {
        content: ''; 
        position: absolute;
        right: -22px; top: 22px;
        border: 12px solid transparent;
        border-left: 12px solid white;
      }
    }

  }
}

.detail-trip-page {
  .content-layout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: none;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 0 1px 1px;
    float: left;
    width: 672px;
    min-height: 400px;
    margin-bottom: 35px;
    .border-b {
      border-bottom: 1px solid #E5E5E5;
    }
    .header-block {
      text-align: left;
      padding: 18px 36px 10px 36px;
      h1 {
        font-size: 33px;
        line-height: 42px;
        text-align: left;
        font-family: pragmatica-web;
        font-weight: 200;
        margin: 0;
        padding: 0 0 6px 0;
      }
      .tour {
        color: rgba(0, 0, 0, 0.7);
        font-family: pragmatica-web;
        font-size: 21px;
        line-height: 27px;
      }
    }
    .tags-block {
      padding: 0px 36px 16px 36px;
      .tags {
        display: block;
        .tag {
          margin-right: 3px;
          padding: 2px 5px;
          background: rgba(49, 185, 218, 0.15);
          border: 1px solid rgba(49, 185, 218, 0.6);
          -webkit-border-radius: 3px;
          border-radius: 3px;
          font-size: 13px;
          line-height: 26px;
          color: #31b9da;
          &:hover {
            border: 1px solid rgba(49, 185, 218, 0.7);
            background: rgba(49, 185, 218, 0.25);
          }
        }
      }
    }
    .gallery-block {
      padding: 0px 36px 0px 36px;
      .fotorama {
        > img {
          display: none;
        }
        .fotorama__stage {
          height: 398px;
        }
      }
      .main-img {
        width: 600px;
        height: 399px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        position: relative;
        margin-bottom: 3px;
        overflow: hidden;
        img {
          border-radius: 3px;
          @include transition (all 0.7s ease);
        }
        .recommended {
          position: absolute;
          background-image: url("../img/ribbon-hurry.png");
          background-repeat: no-repeat;
          width: 84px;
          height: 84px;
          top: -3px;
          left: -3px;
        }
      }
      .thumb-list .item {
        float: left;
        margin: 0px 3px 3px 0;
        @include transition (all 0.3s ease);
        cursor: pointer;
        &:hover {
          opacity: 0.75;
        }
        img {
          max-height: 80px;
          width: auto;
          border-radius: 3px;
        }
      }
    }
    .desc-block {
      padding: 16px 36px 24px 36px;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.9);
      line-height: 21px;
      p {
        margin: 0 0 12px;
      }
    }
    .tabs-container {
      margin-top: 22px;
      .trigger-items {
        padding-left: 36px;
        border-top: 1px solid #a4dbe9;
        border-bottom: 1px solid #a4dbe9;
        background-color: #ffffff;
        .item {
          padding: 2px 18px;
          font-size: 21px;
          line-height: 27px;
          color: #31b9da;
          display: inline-block;
          cursor: pointer;
          line-height: 38px;
          font-family: pragmatica-web;
          border-left: 1px solid #a4dbe9;
          border-right: 1px solid #a4dbe9;
          &:last-child, &:first-child {
            border-left: 0px;
            border-right: 0px;
          }
          &:hover {
            background-color: rgba(49, 185, 218, 0.6);
            color: #ffffff;
          }
          &.active {
            background-color: #31b9da;
            color: #ffffff;
          }
        }
      }
      .big-blue-block {
        padding: 12px 36px 12px 36px;
        background-color: #31b9da;
        color: #ffffff;
        font-family: pragmatica-web;
        font-size: 21px;
        line-height: 27px;
      }
      .subtitle {
        color: rgba(0, 0, 0, 0.8);
        font-family: pragmatica-web;
        font-size: 21px;
        line-height: 27px;
        padding-bottom: 8px;
      }
      .list-items {
        padding: 0 0 0 0px;
        margin: 8px 0 14px 0;
        margin-top: -4px;
        li {
          font-size: 15px;
          line-height: 30px;
          list-style-position: inside;
          color: rgba(0, 0, 0, 0.9);
          span {
            color: rgba(0, 0, 0, 0.9);
          }
        }
      }
      .video-block {
        padding: 4px 0 12px 0;
      }
    }
    .comments-block {
      padding: 36px 36px 10px 36px;
    }
  }


  .side-layout {
    float: right;
    width: 360px;
    margin-bottom: 18px;
    .alerts {
      .alert {
        // display: none;
        background: none repeat scroll 0 0 #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 2px 18px rgba(0,0,0,0.37);
        float: left;
        margin-left: 18px;
        padding: 14px 18px 18px 18px;
        width: 324px;
        position: relative;
        text-align: center;
        .title {
          font-family: pragmatica-web;
          font-size: 21px;
          line-height: 27px;
          margin-bottom: 8px;
          text-align: center;
        }
        .desc {
          font-family: pragmatica-web;
          font-size: 15px;
          line-height: 21px;
          margin-bottom: 16px;
          text-align: center;
        }
        .fb-button {
          font-weight: bold;
          margin-bottom: 0px;
          border-radius: 3px;
          color: #FFFFFF;
          cursor: pointer;
          display: inline-block;
          padding: 7px 11px 7px 7px;
          text-align: center;
          // width: 100%;
          vertical-align: top;

          background-color: #3b55a0; 
          background: -moz-linear-gradient(top, #4c69ba, #3b55a0);
          background: -ms-linear-gradient(top, #4c69ba, #3b55a0);
          background: -webkit-linear-gradient(top, #4c69ba, #3b55a0);
          border: 0px solid #2b4170;
          text-shadow: 0 -1px -1px #1f2f52;
          .icon {
            display: inline-block;
            height: 31px;
            width: 31px;
            margin-right: 6px;
            background-image: url("../img/fb-big-sprite.png");
            background-position: 0px 0px;
            vertical-align: top;
          }
          .content {
            display: inline-block;
            font-size: 14px;
            line-height: 31px;
            height: 31px;
            vertical-align: top;
          }

          &:hover,
          &:focus,
          &:active {
            text-decoration: none;
            color: rgba(255,255,255,0.88);
            background-position: 10px;
            opacity: 0.88;
            .icon {
              opacity: 0.88;
            }
          }
        }

        // &.alert-bottom {
        //   &::after {
        //     content: ''; 
        //     position: absolute;
        //     left: 149px; top: -22px;
        //     border: 12px solid transparent;
        //     border-bottom: 12px solid white;
        //   }
        // }
      }
      .alert-top {
        margin-top: 18px;
        margin-bottom: 0px;
        &::after {
          content: ''; 
          position: absolute;
          left: 149px; bottom: -22px;
          border: 12px solid transparent;
          border-top: 12px solid white;
        }
      }
      .alert-bottom {
        margin-top: 0px;
        margin-bottom: 18px;
        &::after {
          content: ''; 
          position: absolute;
          left: 149px; top: -22px;
          border: 12px solid transparent;
          border-bottom: 12px solid white;
        }
      }
    }
    .side-panel {
      background: none repeat scroll 0 0 #ffffff;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.37);
      float: left;
      margin-bottom: 18px;
      margin-left: 18px;
      margin-top: 18px;
      padding: 0;
      width: 324px;
      position: relative;
      .title {
        font-family: pragmatica-web;
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 8px;
      }
      p {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 8px;
      }
      .border-b {
        border-bottom: 1px solid #E5E5E5;
      }
      .request-block {
        padding: 14px 18px 0px 18px;
        .info {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 12px;
        }
        .button-general {
          font-size: 21px;
        }
        .request-general {
          display: none;
          &.show {
            display: block;
          }
        }
        .checkbox-block {
          input {
            margin-left: 0px;
          }
          color: #000000;
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 12px;
        }
        .request-cons {
          >.title {
            padding-left: 31px;
            background: url("../img/site-sprites.png") no-repeat 1px -796px;
            font-size: 21px;
            line-height: 27px;
            font-family: pragmatica-web;
            color: rgba(0, 0, 0, 0.9);
          }
          .if-rethink {
            background: #f7f7f7;
            margin-left:-18px;
            margin-right:-18px;
            padding-left: 18px;
            padding-right: 18px;
            padding-top: 12px;
            padding-bottom: 12px;
            .slogan {
              font-weight: bold;
              cursor: pointer;
              font-size: 13px;
              line-height: 18px;
              display: inline-block;
              color: #000000;
              background: url("../img/arrow-down-small-black.png") no-repeat right 8px;
              padding-right: 14px;
              span {
                border-bottom: 1px dotted #000000;
              }
            }
            .desc {
              padding: 0px;
              font-size: 13px;
              line-height: 18px;
              color: #000000;
              overflow: hidden;
              @include transition (max-height 0.5s ease);
              // height: 68px;
              max-height: 100px;
              display: block;
              .desc-inner {
                padding: 8px 0px 4px 0px;
              }
              &.collapse {
                max-height: 0px;
                @include transition (max-height 0.5s ease);
              }
            }
          }
        }
        .request-send, .request-send-approve {
          padding-top: 4px;
          .button {
            margin-bottom: 10px;
          }
        }
        .request-confirm {
          padding-top: 4px;
          .button {
            margin-bottom: 10px;
          }
        }
        .request-dismiss {
          .title {
            padding-left: 31px;
            background: url("../img/site-sprites.png") no-repeat 1px -956px;
            font-size: 21px;
            line-height: 27px;
            font-family: pragmatica-web;
            color: rgba(242, 85, 93, 0.9);
          }
        }
        .request-approve {
          .title {
            padding-left: 31px;
            background: url("../img/site-sprites.png") no-repeat 1px -879px;
            font-size: 21px;
            line-height: 27px;
            font-family: pragmatica-web;
            color: rgba(63, 191, 127, 0.9);
          }
        }
      }
      .date-block {
        padding: 10px 18px 10px 18px;
        .title {
          padding-left: 28px;
          margin-bottom: 4px;
          background: url("../img/site-sprites.png") no-repeat 0px -715px;
          font-size: 21px;
          line-height: 27px;
          font-family: pragmatica-web;
          color: rgba(0, 0, 0, 0.9);
        }
        .info {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 0px;
        }
      }
      .travellers-block {
        padding: 12px 10px 12px 18px;
        .title {
          margin-bottom: 4px;
          font-size: 21px;
          line-height: 27px;
          font-family: pragmatica-web;
          color: rgba(0, 0, 0, 0.9);
        }
        .info {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 10px;
        }
        .slider {
          margin-top: 6px;
          .ui-slider {
            width: 266px;
            display: inline-block;
            margin-right: 4px;
            .ui-slider-range {
              background: -webkit-linear-gradient(left, #24c9f2 20%, #f26161 40%);
              background: -moz-linear-gradient(left, #24c9f2 20%, #f26161 40%);
              background: -o-linear-gradient(left, #24c9f2 20%, #f26161 40%);
              background: -ms-linear-gradient(left, #24c9f2 20%, #f26161 40%);
              background: linear-gradient(to right, #24c9f2 20%, #f26161 40%);
            }
          }
        }
        .ratio div {
          &:first-child {
            margin-top: 12px;
            font-size: 13px;
          }
          &:last-child {
            margin-top: 5px;
            margin-bottom: 12px;
            font-size: 13px;
            color: #c68189;
          }
        }
        .info {
          color: rgba(0, 0, 0, 0.9);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 10px;
        }
        .travellers .item {
          cursor: pointer;
          height: 102px;
          padding: 6px 0px;
          .userpic img {
            width: 90px;
            height: 90px;
          }
          .info {
            float: left;
            font-size: 13px;
            padding-left: 12px;
            width: 174px;
            .info-wrap {
              display: table;
              height: 90px;
              .info-wrap-align {
                display: table-cell;
                vertical-align: middle;
                width: 174px;
                .fb-icon {
                  background: url("../img/facebook-logo-mini.png") no-repeat 0px 0px;
                  display: inline-block;
                  height: 16px;
                  width: 16px;
                  margin-right: 5px;
                }
              }
            }
            a {
              font-size: 15px;
              color: rgba(59,89,152,1);
              text-decoration: underline;
              vertical-align: top;
              &:hover {
                color: rgba(59,89,152,0.88);
              }
            }
            span {
              color: rgba(0, 0, 0, 0.7);
              display: block;
              line-height: 18px;
            }
          }
          &:after {
            content: "";
            display: table;
          }
        }
      }
      .organizer-block {
        padding: 10px 18px 10px 18px;
        .title {
          margin-bottom: 8px;
          font-size: 21px;
          line-height: 27px;
          font-family: pragmatica-web;
          color: rgba(0, 0, 0, 0.9);
        }
        .info {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 6px;
        }
        .organizer-item {
          cursor: pointer;
          height: 102px;
          padding: 6px 0px;
          margin: 8px 0;
          .userpic img {
            width: 90px;
            height: 90px;
          }
          .info {
            float: left;
            font-size: 13px;
            padding-left: 12px;
            width: 174px;
            .info-wrap {
              display: table;
              height: 90px;
              .info-wrap-align {
                display: table-cell;
                vertical-align: middle;
                width: 174px;
              }
            }
            a {
              font-size: 15px;
              text-decoration: underline;
            }
            span {
              color: rgba(0, 0, 0, 0.7);
              display: block;
              line-height: 18px;
            }
          }
        }
        .item:after {
          content: "";
          display: table;
        }
      }
      .detail-block {
        padding: 16px 18px 10px 18px;
        .full-price {
          font-size: 21px;
          line-height: 27px;
          color: rgba(242, 85, 93, 1);
          margin-bottom: 16px;
          .value {
            text-decoration:line-through;
            font-family: pragmatica-web;
            font-weight: 300;
          }
          .sub-title {
            color: rgba(242, 85, 93, 1);
            font-weight: bold;
            font-size: 9px;
            line-height: 9px;
            margin-bottom: 6px;
            text-transform: uppercase;
          }
        }
        .full-service-price {
          font-size: 38px;
          line-height: 42px;
          color: rgba(0, 0, 0, 0.9);
          margin-bottom: 16px;
          .value {
            font-family: pragmatica-web;
            font-weight: 200;
          }
          .sub-title {
            font-weight: bold;
            font-size: 9px;
            line-height: 9px;
            margin-bottom: 12px;
            text-transform: uppercase;
          }
        }
        .type {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 17px;
          .help {
            vertical-align: text-bottom;
          }
        }
        .sub-title {
          font-size: 9px;
          text-transform: uppercase;
          font-weight: bold;
          margin-bottom: 4px;
          letter-spacing: 1px;
        }
        .info {
          color: rgba(0, 0, 0, 0.65);
          font-size: 13px;
          line-height: 18px;
          margin-bottom: 6px;
        }
        .chip-in {
          margin-bottom: 8px;
          .items {
            padding: 0 0 0 0px;
            margin: 8px 0 14px 0;
            .item {
              font-size: 13px;
              line-height: 24px;
              list-style-position: inside;
              color: #31b9da;
              span {
                color: rgba(0, 0, 0, 0.9);
              }
            }
          }
        }
        .include {
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.9);
          .items {
            padding: 0 0 0 15px;
            margin: 10px 0 10px 0;
            .item {
              padding-top: 6px;
              font-size: 13px;
              line-height: 18px;
              // list-style-position: inside;
              color: rgba(0, 0, 0, 0.9);
              span {
                color: rgba(0, 0, 0, 0.9);
              }
              &:first-child {
                padding-top: 0px;
              }
            }
          }
        }
        .price {
          margin-bottom: 18px;
          .value {
            font-size: 38px;
            line-height: 42px;
            font-family: pragmatica-web;
            font-weight: 200;
            color: rgba(0, 0, 0, 0.9);
          }
        }
      }
    }
  }
}
