<div class="footer">
  <div class="footer-nav">
    <div class="container">
      <a href="#">Путешествия</a>
      <a href="#">Как это работает</a>
      <a href="#">Создание путешествия</a>
      <a href="#">Помощь</a>
      <a href="#">Обратная связь</a>
    </div>
  </div>

  <div class="container">
    <div class="footer-info">
      <p>Copyright &copy;2015, Divvy travel, Inc. All rights reserved.</p>
      <p class="design">Дизайн &ndash; <a href="http://vladmoroz.com/">Влад Мороз</a></p>
    </div>
  </div>
</div>
