{% load i18n localeurl_tags %}

<div class="header {% if request.user.is_authenticated %}login{% endif %}" id="header_block">
  <div class="navbar navbar-proj" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-logo" href="{% url "index_page" %}">
          <img src="{{ STATIC_URL }}img/logo-white.png">
        </a>

        {% if request.user.is_authenticated %}
          <div class="navbar-login pull-right">
            <a href="{% url 'logout' %}?next={{ request.get_full_path }}">
              <span class="facebook-button-logo"></span><span>{% trans "Logout" %}</span>
            </a>
          </div>
        {% else %}
          <div class="navbar-login pull-right">
            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.get_full_path }}">
              <span class="facebook-button-logo"></span><span>{% trans "Login with Facebook" %}</span>
            </a>
          </div>
        {% endif %}

        <ul class="nav nav-pills nav-proj pull-right">
{#          {% for lang in LANGUAGES %}#}
{#            <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>#}
{#          {% endfor %}#}

          <li><a href="#">{% trans "Trips" %}</a></li>
{#          <li><a href="#">{% trans "How it works" %}</a></li>#}
{#          <li><a href="#">{% trans "Create trip" %}</a></li>#}
          <li><a href="{% url "trip_requests" %}">{% trans "Trip requests" %}</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% block promo %}
    <div class="promo-content">
      <div class="promo-content-title">Путешествуйте в хорошей компании</div>
      <div class="promo-content-description">
        <p>
          Вы можете <a href="#">организовать своё путешествие</a> и самостоятельно собрать<br> компанию,
          или к кому-нибудь присоединиться &mdash; <a href="#"> выбирайте поездку, </a><br>
          и смотрите, куда собираются <a href="#"> интересные вам люди</a>.
        </p>
      </div>
      <div class="godown">
        <a href="#"><img src="{{ STATIC_URL }}img/arrow-large.png"></a>
      </div>
    </div>
  {% endblock %}
</div>